<div class="info-container">
  <div class="info">
    <div class="data">
      <div *ngFor="let item of schema; trackBy: trackById" class="item">
        <div class="value">
          <div class="ring-calculating" *ngIf="!bgrData[item.key]">
            <img class="item-img" src='assets/images/{{item.icon}}'>
            <span></span>
          </div>
          <div class="ring-calculated" *ngIf="bgrData[item.key]">
            <img class="item-img" src='assets/images/result-mark.svg'>
          </div>
        </div>
        <div class="name">
          {{item.name}}
        </div>
      </div>
    </div>
  </div>
</div>
